.wrapper {
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-family: 'Courier New', Courier, monospace;

}

.container form {
    background-color: hsla(0, 0%, 100%, 0.729);
    margin-top: 50px;
    word-spacing: normal;
    border-radius: 15px;
    padding-top: 20px;
    font-size: large;

}

.container form label {
    color: hsl(0, 0%, 2%);
}

.container form input {
    border-radius: 10px;
    text-align: center;
}

#sub_button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
}