body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at center, rgb(12,43,54), rgb(65,44,33));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

/* This wrapper centers the container on the screen */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* fills the screen */
}

/* This container centers its internal content */
.container {
  display: block;
  border: 2px solid rgb(44,78,22);
  padding: 20px;
  padding : 150px;
}
Easy.Easy. Clean.Easy clean up.Easy clean up you.Easy clean up you knowEasy clean up you know whatEasy clean up you know what easyEasy. Clean up. You know what? Easy. Chart Vegetables. Hey, Cortana. I swear, man, I just. OK. What's the best way to start today? Enemy they are as a bunch. Is that a logic? Are they supposed to? Currently opposite. This video has been sponsored by Oliver. That's extremely. The second main ingredient that I needed was seated. It's as much as I could. It should have been too much to the opposition there. Player of the match. Yeah. So. There is a. Hey, Cortana. What? I. Once cancer was released from the sanitarium. Champions League. Cancel. Hey, Cortana. J Robert. Hey, Cortana. Hey Cortana, apple laced with Post Office. This is exterior. The specifics are lost. Select. 