body {
    background: radial-gradient(circle at center, #7796d0, #2a5298);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  /* Horizontal center */
    align-items: center;      /* Vertical center */
    font-family: 'Inter', sans-serif;
    
}
#main {
    width : 800px;
    height : 500px;
    background: radial-gradient(circle at center, white, whitesmoke);

    border-radius: 25px;
}
#label_main {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    font-size: 40px;
    font-family: cursive;
}

/* Taskbar */

.task-bar {
    display : flex;
    justify-content: center;
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(1, 0, 0, 0.19);
    overflow: hidden;
}
.task-bar input {
  border: none;
  outline: none;
  padding: 12px 15px;
  font-size: 14px;
  flex: 1;
  border-radius: 20px;
  font-family: inherit;
}
.task-bar button {
  background: #ff5722;
  border: none;
  color: white;
  padding: 12px 25px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 20px;
}

.task-bar button:hover {
  background: #e64a19;
}

/* Tasks */
.tasks {
    padding: 30px 30px;

}