
div{
    background-color: red;
    width: 300px;
    height: 150px;
}
.one{
    color: rgb(0, 195, 255);
}
.two{
    color: rgb(0, 136, 255);
}
.t{
    color: rebeccapurple;
}












































