body {
    background-color: black;
    color : white;
}

.container {
    display: flexbox;
    width: 800px;
    height: 600px;
    background-color: rgb(224, 72, 191);
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-cards div {
    display: inherit;
    

}

.flex-card1 {
    background-color: yellowgreen;
    width: 250px;
    height: 350px;
    margin: 30px;
}

.flex-card2 {
    background-color: aquamarine;
    width: 250px;
    height: 350px;
    margin: 30px;
}

.flex-card3 {
    background-color: rgb(244, 255, 127);
    width: 250px;
    height: 350px;
    margin: 30px;
}

.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1 {
    width: 100px;
}


.heading1 {
    display: flex;
    justify-content: center;
}