{% extends 'members/master.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        My Tennis Club - List of all Members
    {% endblock %}
</head>
<body>
    {% block content%}
    <h1>Members</h1>
    <p><a href="/members">HOME</a></p>
    <ul>
        {% for x in mymembers%}
            <li>{{x.first_name}} {{x.last_name}}</li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>