/*This is a tutorial to css by web dev which is ran by google

First things first, we are going to learn about CSS box model 
Because everything CSS displays is a box, understanding how the CSS Box Model works is a core foundation of CSS.

Then about selectors, like say class and id, even names
To apply CSS to an element, you need to select it. 
CSS gives you a number of different ways to do this, and you can explore them in this module.


*/

/*
Box Model

Say you have this bit of HTML:
<p>I am a paragraph of text that has a few words in it.</p>
Then you write this CSS for it:


p {
  width: 100px;
  height: 50px;
  padding: 20px;
  border: 1px solid;
}
The content ends up 142px wide, instead of the 100px you specified, and it breaks out of your element. Why is that?

The box model is a core foundation of CSS.
Understanding how the box model works, how it's affected by other aspects of CSS, 
and importantly, how you can control it, can help you write more predictable CSS.




*/