nav {
    height : 100vh;
    width : 220px;
    background-color: #222;
    color : white;
    display: flexbox;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}
.title_website {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}
nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
}
nav ul li {
    margin: 25px 0;
}
nav ul li a {
    text-decoration: none;
    color : white;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 10px;
    background-color: #555;
}
nav ul li a:hover {
    background-color: #888;
}
nav ul li a:active {
    background-color: #999;
}