.title_website {
    display: inline-block;
    align-items: center;
    justify-content: center;
    height : 80px;
    
}
.menu_list{
    display: inline-flex;
    margin: auto;
}

.li_tag {
    margin: 20px;
}